{% extends "page.html.twig" %}

{%- block main ~%}
      {%- import 'macros/fontawesome.twig' as fontawesome ~%}
      {#- description ~#}
      <div id="description-container" class="px-6 py-10 pb-8 rounded-3xl shadow-md bg-secondary text-white transition ease-out">
        <blockquote class="h-96 flex flex-col items-center justify-center space-y-4">
          <div class="grow"></div>
          <div id="description" class="text-3xl font-bold text-center">Le sac à dos infini</div>
          <div class="grow"></div>
          <img id="sac" src="{{ asset('images/sac-nuit.svg') }}">
        </blockquote>
      </div>
      <div class="p-4 rounded-b-2xl shadow-md bg-[#CEC9C5] relative -z-10 mx-5 mt-[-20px] h-8"></div>
      <div class="p-4 rounded-b-xl shadow-md bg-[#9F9187] relative -z-20 mx-9 mt-[-20px]"></div>
      {#- button ~#}
      <div class="flex mt-4 text-wrap justify-center">
        <button id="button" class="flex items-center space-x-4 justify-center px-14 py-5 rounded-full bg-secondary text-white no-underline duration-300 [transition-timing-function:cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-1 active:scale-x-105 active:scale-y-95">
          <span>{{ fontawesome.icon(name:'arrows-rotate', style:'solid', size:'xl', flip:'horizontal') }}</span>
          <span>Fouiller le sac</span>
        </button>
      </div>
      <div class="flex mt-4 items-center justify-center">
        <button id="install-button" hidden>{{ fontawesome.icon(name:'download', style:'solid') }}&nbsp;Installer</button>
      </div>
      {#- scripts ~#}
      <script>
        const items = [
          {%- for item in site.data.sac ~%}
          "{{ item.Description|e }}"{% if not loop.last %}, {% endif %}
          {%- endfor ~%}
        ];
      </script>
      <script>
        function getRandomItem(items) {
          const random = Math.floor(Math.random() * items.length);
          console.log(random, items[random]);
          return items[random];
        }
        const container = document.querySelector("#description-container");
        const description = document.querySelector('#description');
        const sac = document.querySelector('#sac');
        const button = document.querySelector('#button');
        button.addEventListener('click', (event) => {
          container.classList.replace('bg-secondary', 'bg-white');
          container.classList.replace('text-white', 'text-secondary');
          sac.src="{{ asset('images/sac.svg') }}";
          description.innerHTML = getRandomItem(items);
          container.classList.add('-translate-y-3');
          setTimeout(function() {
            container.classList.remove('-translate-y-3');
          }, 500);
        });
      </script>
{%- endblock ~%}