{% import 'macros/fontawesome.twig' as fontawesome %}
{% extends 'page.html.twig' %}

      {%- block main ~%}
      {#- card ~#}
      <div id="card" class="px-6 py-10 pb-8 rounded-3xl shadow-md bg-secondary text-white cursor-grab transition ease-out">
        <div class="h-96 flex flex-col items-center justify-center space-y-4 text-inherit">
          <div class="grow"></div>
          {#- card description ~#}
          <div id="description" class="text-3xl font-bold text-center">Le sac à dos infini</div>
          <div class="grow"></div>
          <img id="image-sac" src="{{ asset('images/sac-nuit.svg') }}" alt="Sac à dos">
        </div>
      </div>
      <div class="flex justify-center items-end p-4 rounded-b-2xl shadow-md bg-[#CEC9C5] relative -z-10 mx-5 -mt-25 h-28">
        <img src="{{ asset('images/sac.svg') }}" alt="Sac à dos">
      </div>
      <div class="p-4 rounded-b-xl shadow-md bg-[#9F9187] relative -z-20 mx-9 -mt-5"></div>
      {#- main button ~#}
      <div class="flex mt-4 text-wrap justify-center">
        <button id="button" class="flex items-center space-x-4 justify-center px-14 py-5 rounded-full bg-secondary text-white no-underline cursor-pointer duration-300 ease-[cubic-bezier(0.175,0.885,0.32,1.275)] active:translate-y-1 active:scale-x-105 active:scale-y-95">
          <span>{{ fontawesome.icon(name: 'arrows-rotate', style: 'solid', size: 'xl', flip: 'horizontal') }}</span>
          <span>Fouiller le sac</span>
        </button>
      </div>
      {#- items list ~#}
      <script>
        const items = [
          {%- for item in site.data.sac ~%}
          "{{ item.Description|e }}"{% if not loop.last %}, {% endif %}
          {%- endfor ~%}
        ];
      </script>
      {%- endblock ~%}

    {%- block scripts ~%}
    <script src="{{ asset('scripts/hammer.js') }}"></script>
    <script>{% apply minify_js ~%}
      // CSS selectors
      const card = document.querySelector('#card');
      const description = document.querySelector('#description');
      const sacImage = document.querySelector('#image-sac');
      const button = document.querySelector('#button');
      // Hammer.js manager
      const mc = new Hammer(card);
      // return a random item
      function getRandomItem(items) {
        const random = Math.floor(Math.random() * items.length);
        console.log(random, items[random]);
        window.location.hash = random;
        return items[random];
      }
      // update card with the given item key, otherwise random
      function updateCard(item = '') {
        card.classList.replace('bg-secondary', 'bg-white');
        card.classList.replace('text-white', 'text-secondary');
        sacImage.src = '{{ asset('images/sac.svg') }}';
        if (item in items) {
          description.innerHTML = items[item];
        } else {
          description.innerHTML = getRandomItem(items);
        }
      }
      // bump card animation
      function bumpCard() {
        card.style.transform = 'translate(0, -15px)';
        setTimeout(function() {
          card.style.transform = 'translate(0, 0px)';
        }, 500);
        console.log('Card bumped');
      }
      // reset card
      function resetCard() {
        card.classList.replace('bg-white', 'bg-secondary');
        card.classList.replace('text-secondary', 'text-white');
        sacImage.src = '{{ asset('images/sac-nuit.svg') }}';
        description.innerHTML = 'Le sac à dos infini';
        card.style.transform = 'translate(0, 0px)';
      }
      // load item from location hash if exists
      function loadFromHash() {
        itemToLoad = window.location.hash.substring(1);
        if (itemToLoad) {
          console.log('Loading item', itemToLoad);
          updateCard(Number(itemToLoad));
        } else {
          console.log('Reset deck');
          resetCard();
        }
      }
      // update on button click
      button.addEventListener('click', (event) => {
        mc.stop();
        bumpCard();
        updateCard();
      });
      // simulate click on space keyboard press
      document.addEventListener('keydown', (event) => {
        if (event.key === ' ') {
          event.preventDefault();
          button.click();
        }
      });
      // load if hash already exists
      window.addEventListener('load', (event) => {
        loadFromHash();
      });
      // load on hash change
      window.addEventListener('hashchange', (event) => {
        loadFromHash();
      }, false);
      // pan up
      mc.get('pan').set({direction: Hammer.DIRECTION_VERTICAL});
      mc.on('pan', function(ev) {
        card.style.transform = 'translate(0, ' + (ev.deltaY / 10) + 'px)';
      });
      // pan end
      mc.on('panend', function(ev) {
        card.style.transform = 'translate(0, 0px)';
        console.log('deltaY:', ev.deltaY);
        // update on significant pan up, go back on significant pan down
        if (ev.deltaY < -100) {
          updateCard();
        } else if (ev.deltaY > 100) {
          history.back();
        }
      });
    {% endapply %}</script>
    {%- endblock ~%}