{%- import 'macros/fontawesome.twig' as fontawesome -%}
<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{- include('partials/metatags.html.twig') ~}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Unbounded:wght@200..900&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Unbounded:wght@200..900&display=swap">
    {{- include('partials/fontawesome.twig', {styles: ['solid']}) ~}}
    <style>{{ asset('styles.css')|inline }}</style>
    {{- include('partials/pwa.html.twig', {site}, with_context = false) ~}}
  </head>
  <body class="flex flex-col h-screen font-sans antialiased bg-primary text-secondary">
    <header class="mx-auto p-5">
      {%- block header ~%}
      <a href="{{ url(site.website) }}">{{ html(asset('images/logo.svg'), attributes={alt: "Logo", class: 'size-full max-w-36'}) }}</a>
      {%- endblock header ~%}
    </header>
    <main class="flex flex-col w-screen h-full max-w-md mx-auto px-5 pb-5">
      {%- block main ~%}
      <div class="p-8 rounded-3xl shadow-md bg-white">
        {%- block content ~%}
        {{ page.content }}
        {%- endblock content ~%}
      </div>
      {%- endblock main ~%}
      {#- install button ~#}
      <div class="fixed bottom-5 right-5 bg-primary rounded-full px-3 py-2 shadow-md">
        <button id="install-button" title="Installer l’application" aria-label="Installer l’application" class="cursor-pointer text-secondary brightness-90" hidden>
            {{ fontawesome.icon(name: 'download', style: 'solid', size: 'lg') }}
        </button>
      </div>
    </main>
    {%- block scripts %}{% endblock ~%}
  </body>
</html>